@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "마이페이지";
}

<h1>마이페이지</h1>

<div>
    
    <a class="btn btn-outline-dark"
       asp-controller="User" asp-action="Update" asp-route-id="1">
        개인정보 관리
    </a>
</div>

<div>
    <h2>게시글 관리</h2>

</div>

<div>
    <h2>댓글 관리</h2>

</div>

<div>
    <h2>리뷰 관리</h2>

</div>

<div>
    <h2>저장 목록</h2>

</div>
