 @model TeamProject.Models.Domain.User

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
  
}

@{
    ViewData["Title"] = "마이페이지";
}

<h1>마이페이지</h1>

<script src="~/js/DeleteUser/DeleteOk.js"></script>

<form method="POST" name="frmDelete" asp-controller="User" asp-action="Delete">
    <input type="hidden" asp-for="Id">
</form>

<div>

    <a class="btn btn-outline-dark btn-lg" style="font-size: 24px;"
       asp-controller="User" asp-action="Update" asp-route-id="@Model.Id">
        개인정보 관리
    </a>
</div>

<div>
    <a class="btn btn-outline-dark btn-lg" style="font-size: 24px;"
       asp-controller="Post" asp-action="List" asp-route-id="@Model.Id">
        개인정보 관리
    </a>

</div>

<div>
    <h2>댓글 관리</h2>

</div>

<div>
    <h2>리뷰 관리</h2>

</div>

<div>
    <h2>저장 목록</h2>

</div>

<button type="button" class="btn btn-outline-danger ms-2" id="btnDel">회원탈퇴</button>
