@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor


<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KMOVIES</title>
    
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @*<link rel="stylesheet" href="~/test.styles.css" asp-append-version="true" />*@
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/css/plyr.css" type="text/css">
    <link rel="stylesheet" href="~/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/style.css" type="text/css">

</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a asp-controller="Home" asp-action="Index">
                            <img src="~/img/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li><a asp-controller="Home" asp-action="Index">Homepage</a></li>
                                <li><a asp-controller="Board" asp-action="List" asp-route-id="1">게시판</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                @{
                    string isLoggedIn = HttpContextAccessor.HttpContext.Session.GetString("IsLoggedIn");
                    string isAdmin = HttpContextAccessor.HttpContext.Session.GetString("IsAdmin");
                }
              
             
                @if (isLoggedIn == "true")
                {
                    @if (isAdmin == "True")
                    {
                        <a asp-controller="Admin" asp-action="Adminpage"><span class="icon_star"></span></a>
                    }
                    <div class="col-lg-2">
                        <div class="header__right">
                            <a asp-controller="User" asp-action="Mypage"><span class="icon_profile"></span></a>
                            <a href="#" class="search"><span class="icon_search"></span></a>
                            <div id="searchBox" style="width: 0; overflow: hidden; transition: width 0.5s;">
                                <input type="text" placeholder="Search..." />
                            </div>
                            <form method="post" asp-controller="Login" asp-action="Logout">
                                <button type="submit" class="logout-button">
                                    <span class="icon_lock-open"></span>
                                </button>
                            </form>
                           
                        </div>
                    </div>
               
                }
                else
                {
                <div class="col-lg-2">
                    <div class="header__right">
                        <a asp-controller="Login" asp-action="Login"><span class="icon_profile"></span></a>


                        <a href="#" class="search"><span class="icon_search"></span></a>

                        <div id="searchBox" style="width: 0; overflow: hidden; transition: width 0.5s;">
                            <input type="text" placeholder="Search..." />
                        </div>

                    </div>
                </div>
                }
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="page-up">
            <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer__logo">
                        <a href="@Url.Action("Index", "Home")"><img src="~/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="footer__nav">
                        <ul>
                            <li class="active"><a href="@Url.Action("Index", "Home")">Homepage</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/player.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/mixitup.min.js"></script>
    <script src="~/js/jquery.slicknav.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/SearchMovie.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>