@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    
}

<script src="~/js/API_Script.js"></script>

<body data-detail-url-base='@Url.Action("Detail", "Home")'>    
    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="hero__slider owl-carousel">
                <div class="hero__items set-bg" data-setbg="img/hero/hero-1.jpg">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">

                                <div class="label">Adventure</div>
                                <h2>Fate / Stay Night: Unlimited Blade Works</h2>dda
                                <p>After 30 days of travel across the world...</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero__items set-bg" data-setbg="img/hero/hero-2.jpg">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <div class="label">Thriller</div>
                                <h2>존 윅 4</h2>
                                <p>레전드 액션 블록버스터 존윅의 새로운 챕터가 열린다!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section 
    <!-- Hero Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <div class="section-title">
                    <h4>now in theaters</h4>
                </div>
            </div>
            <div class="row" id="movie-container">
                <!-- 동적으로 생성된 영화 정보 삽입-->
            </div>
        </div>
    </section>
    <!-- Product Section End -->

</body>
