'@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<script>
    async function findId(){
        let name = document.getElementById("UserName").value;
        let phone = document.getElementById("PhoneNumber").value;

        if(name.trim() == "")
        {
            alert("사용자의 이름을 입력하세요");
            return;
        }
        else if(phone.trim() == "")
        {
            alert("전화번호를 입력하세요")
        }
    }
</script>
<body>
    <section class="login spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="login__form">
                        <h3>FindID</h3>
                        <form action="#">
                            <div class="input__item">
                                <input type="text" id ="UserName">
                                <span class="icon_profile"></span>
                            </div>
                            <div class="input__item">
                                <input type="text" id="PhoneNumber">
                                <span class="icon_phone"></span>
                            </div>
                            <button onclick="findId()" type="submit" class="site-btn">Get ID</button>
                        </form>
                          
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="login__form">
                        <h3>FindPassWord</h3>
                        <form action="#">
                            <div class="input__item">
                                <input type="text" placeholder="User ID">
                                <span class="icon_profile"></span>
                            </div>
                            <div class="input__item">
                                <input type="text" placeholder="PhoneNumber">
                                <span class="icon_phone"></span>
                            </div>
                            <button onclick="findPw()" type="submit" class="site-btn">Get Password</button>
                        </form>
                        
                    </div>
                </div>
                


            </div>
            
        </div>
    </section>

</body>

