'@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .find__header {
        color: white;
        background: rgb(7, 7, 32);
        padding-block: 2px;
        width: 200px;
        height: 40px;
        display: inline-block;
        text-align: center;
        line-height: 40px;
    }

    .find__body {
        width: 402px;
        height: 240px;
        background: rgb(7, 7, 32);
    }

    .find__container {
        display: flex;
        width: 402px;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
</style>
<body>
    <section class="login spad">
        <div class="container">
            <div class="find__container">
                <div class="find__header">아이디찾기</div>
                <div class="find__header">비밀번호찾기</div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="find__body">
                        <!-- find__body 내용 -->
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

