'@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var regex = new System.Text.RegularExpressions.Regex(@"^(?=.*[A-Z])(?=.*[!@#$%^&*()_+\-=[\]{};':""\\|,.<>\/?]).{8,}$");
}
}
@model TeamProject.Models.ViewModels.EditUserRequest
<body>
    <section class="login spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="login__form">
                        <h3>Find ID</h3>
                        <form action="#">
                            <div class="input__item">
                                <input type="text" placeholder="User Name" id="Name">
                                <span class="icon_profile"></span>
                            </div>
                            <div class="input__item">
                                <input type="text" placeholder="PhoneNumber" id="pnid">
                                <span class="icon_phone"></span>
                            </div>
                            <button onclick="findId()" type="button" class="site-btn">Get ID</button>
                        </form>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="login__form">
                        <h3>Find Password</h3>
                        <form>
                            <div class="input__item">
                                <input type="text" placeholder="User ID" id="ID">
                                <span class="icon_profile"></span>
                            </div>
                            <div class="input__item">
                                <input type="text" placeholder="PhoneNumber" id="pnpw">
                                <span class="icon_phone"></span>
                            </div>

                            <button onclick="findPw()" type="button" class="site-btn">Get Password</button>


                            <div id="NewPassword" style="display: none; padding-top:30px;">
                                <div><span class="text-danger">@TempData["PassWordError"]</span></div>
                                <div class="input__item">
                                    <input type="password" placeholder="Password" asp-for="PassWord">
                                    <span class="icon_lock"></span>
                                </div>

                                <div class="input__item">
                                    <input type="password" placeholder="Password Check" asp-for="PassWordCheck">
                                    <span class="icon_lock"></span>
                                </div>
                                <button onclick="validatePassword()" type="button" class="site-btn">New Password</button>
                            </div>


                        </form>
                    </div>
                </div>
            </div>

        </div>
    </section>

</body>
<script>
    async function findId() {
        let name = document.getElementById("Name").value;
        let phone = document.getElementById("pnid").value;

        if (name.trim() === "") {
            alert("이름을 입력하세요.");
            return;
        }
        else if (phone.trim() === "") {
            alert("전화번호를 입력하세요.");
            return;
        }

        //alert(`${name}`)
        //alert(`${phone}`)
        try {
            var url = `/FindUserId?name=${encodeURIComponent(name)}&phone=${phone}`;
            const response = await fetch(url);
            const data = await response.text();
            
            if (data === "") {
                alert("존재하지 않는 사용자 정보 입니다.");
                return;
            }
            else if(data === "1")
            {
                alert("전화번호가 일치하지 않습니다.")
            }
            else if (data.length > 2) {
                alert(`${name}님의 아이디는 : ${data} 입니다.`);
            }
        }
        catch (error) {
            alert(`오류가 발생했습니다: ${error}`);
        }
    }

    async function findPw() {
        let id = document.getElementById("ID").value;
        let phone = document.getElementById("pnpw").value;

        if (id.trim() === "") {
            alert("아이디를 입력하세요.");
            return;
        }
        else if (phone.trim() === "") {
            alert("전화번호를 입력하세요.");
            return;
        }
        try {
            var url = `/FindUserPw?id=${id}&phone=${phone}`;
            const response = await fetch(url);
            const data = await response.text();

            if (data === "") {
                alert("존재하지 않는 사용자 정보 입니다.");
                return;
            }
            else if (data === "1") {
                alert("전화번호가 일치하지 않습니다.")
            }
            else if (data === "2") {
                document.getElementById("NewPassword").style.display = "block";
            }
        }
        catch (error) {
            alert(`오류가 발생했습니다: ${error}`);
        }
    }


    function validatePassword() {
        var pw = document.getElementById("PassWord").value;
        var pwch = document.getElementById("PassWordCheck").value;
        var regex = /^.*@(regex.ToString()).*$/;
        if(pw === "")
        {
            alert("비밀번호를 입력해주세요.");
            return;
        }
        else if(pwch === "")
        {
            alert("비밀번호를 확인해주세요.");
            return;
        }
        // 비밀번호 일치 여부 확인
        else if (!regex.test(pw)) {
            alert("비밀번호는 최소 8자 이상이어야 하며, 대문자와 특수문자가 포함되어야 합니다.");
            return;
        }
        else if (pw !== pwch) {
            alert("비밀번호가 일치하지 않습니다.");
            return;
        }
        else 
        {
            var data = { pw: pw };
            $.ajax({
                url: "/ControllerName/PasswordUpdate", // 액션 메서드의 경로로 변경
                type: "POST",
                data: data,
                success: function (response) {
                    // 요청이 성공했을 때 처리할 코드
                    window.location.href = "/ControllerName/Login"; // 리디렉션 처리
                },
                error: function (xhr, status, error) {
                    // 요청이 실패했을 때 처리할 코드
                    alert("비밀번호 업데이트에 실패했습니다.");
                }
            });
        }
        // 정규표현식으로 비밀번호 검증
        
    }

</script>

