@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<body>

    <section class="login spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="login__form">
                        <h3>Login</h3>
                        <form action="#">
                            <div class="input__item">
                                <input type="text" placeholder="아이디를 입력하세요">
                                <span class="icon_mail"></span>
                            </div>
                            <div class="input__item">
                                <input type="text" placeholder="비밀번호를 입력하세요">
                                <span class="icon_lock"></span>
                            </div>
                            <button type="submit" class="site-btn">Login Now</button>  <!--로그인하기-->
                        </form>
                        <a href="#" class="forget_pass">Forgot Your Password?</a> <!--아이디 빌밀번호찾기-->
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="login__register">
                        <h3>Dont’t Have An Account?</h3>
                        <a asp-controller="Login" asp-action="SignUp" class="primary-btn">Register Now</a> <!--회원가입 페이지-->
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    
</body>